* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

.header {
    width: 100%;
    min-height: 100vh;
    background: #94ccf7;
    color: green;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1%;
    background: #1a1a1a1a;
    position: relative;
}

.logo {
    width: 50px;
}

.profile-user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

nav ul {
    width: 100%;
    text-align: left;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #eef5f0;
    text-decoration: none;
}

.profile-sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.profile-sub-menu-wrap.open-menu {
    max-height: 400px;
}

.profile-sub-menu {
    background: rgb(251, 248, 248);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.profile-user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.profile-user-info h3 {
    font-weight: 500;
}

.profile-user-info h5 {
    font-weight: 500;
    top: 65%;
    position: absolute;
    left: 29%;
}

.profile-user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-sub-menu hr {
    border: 0;
    height: 1px;
    background: #181818;
    margin: 15px 0 10px;
}

.profile-sub-menu-link img {
    width: 24px;
    height: 24px;
    background-color: #e5e5e5;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 12px 0;
}

.profile-sub-menu-link p {
    width: 100%;
}

.register-login-menu {
    display: flex;
    align-items: center;
    background-color: #f3f0f0;
    border-radius: 5px;
    padding: 5px 10px;
}

.menu-link {
    text-decoration: none;
    color: #ec0808;
    font-weight: bold;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.menu-link:hover {
    background-color: #04864e;
    color: #fff;
}

.menu-separator {
    margin: 0 5px;
    color: #fff;
}